/* GLOBAL */
body {
	background: #137795;
}

/* Remove */
.row {
	background: white;
}

h1, h2 {
	text-align:center
}

.puzzle {
	float: left ;
	margin-right: 50px ;
	height: 456px;
}

.bottom {
	height: 50px;
}

button {
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
}